{% extends 'essecommerceapp/base.html' %}
{% load static %}
{% block content %}
        <div class="row mt-5">
           {% for product in product %}
            <div class="col-md-4 mb-4">  
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top thumbnail img border-bottom-1" src="{{ product.img }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a data-product="{{ product.id }}" data-action="add" class="btn btn-primary update-cart">Add to cart</a>
                      <h4 style="display: inline-block; float: right">BDT {{ product.price }}</h4>
                    </div>
                  </div>              
            </div>
            {% endfor %}
           
            
        {% endblock %}